.SearchResults{
	background: white;
	list-style-type: none;
	margin: 0;	
	overflow-y: auto;
	position: absolute;
	width: 100%;
}

.SearchResult{
	cursor: pointer;
}

.SearchResult:hover{
	background: #E8E8E8;
}