.WaterLevel {
    background: #44ABDF;
/*    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
    border-radius: 5px;
    height: 100%;
    width: 100%;
    transition: opacity .2s linear;
}

.PoolLine{
    background:#888;
    display: inline-block;
    height: 10vh;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 1vw;    
}