.WaterLevel {
    background: blue;
/*    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
    border-radius: 10px;
    max-height: 100%;
    width: 100%;
    transition: height 2s linear;
}