.App {
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
}

h3.graphic-title{
	font-weight: bold;
	font-size: 22px;
}

p.graphic-chatter{
	font-size: 17px;
}

div.graphic-toggle p{
	font-size: 16px;
}

p.region{
	font-weight: bold;
}