.SwimmingPool {
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-flow: column-reverse nowrap;
    height: 10vh;
    width: 8vw;
}

.WaterLevel {
    background: blue;
    border-radius: 10px;
    width: 100%;
}