.SwimmingPoolGraphic h3 {
	font-weight: bold;
}

.SwimmingPoolGraphic p{
	margin: .35em 0; 
}

.PoolContainer{
	display: flex;
	flex-flow: row wrap;
}

@media (max-width: 549px){
	.PoolContainer{
		/* justify-content: space-between; */
	}
}

.PoolText{
	color: #44ABDF;
	font-size: 20px;
}